.modal {
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    min-width: 200px;
    min-height: 160px;
    max-width: 80%;
    padding: 32px;
    margin-bottom: 25px;

    &__inner{
      max-height: 800px;
      padding-right: 25px;
      overflow: hidden;
      overflow-y: scroll;
    }

    &__title{
      font-size: 20px;
      line-height: 30px;
    }

    &__head{
      margin-bottom: 20px;
    }

    &__img{
      margin: 0 auto;
      display: block;
      height: 250px;
    }
  }
  
  .close {
    align-self: flex-end;
    width: 40px;
    height: 40px;
    margin: -24px;
    color: #000
  }
  